/* Custom Stylesheet */

/* {
  outline: 1px red solid;
}*/

html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(#5B57FF, #2C2B6F);
  font-family: 'Montserrat', sans-serif;
}